/* src/index.css or src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 10;
  background-color: rgb(246, 246, 246);
  /* background-color: rgb(79, 79, 79); */
  color: rgb(234, 255, 234);
  font-family: Arial, sans-serif;
  align-items: center;
}
